
ul {
    max-width: 90%; 
    margin: 2rem auto;
    text-align: center;
  }
  
  ul li {
    max-width: 90%; 
    margin: 0 auto;
    padding: 0.5rem 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  ul li:hover {
    text-decoration: underline;
    cursor: pointer;
  }